input {
    display: block;
    width: 10vw;
    padding: 0 1.25rem;
}

input,
input::placeholder {
    font: 12px roboto;
}

#err {
    background-color: black;
}


#er {
    color: white;
    font-size: 34px;
    font-family: "Roboto";
    padding-left: 5%;
}

#head2 {
    color: rgb(77, 47, 47);

}

table {
    margin: 5px;
    padding: 0px;
    border: 1px solid white;
    border-spacing: 0px;
    border-radius: 15px;
}

th,
tr {
    font-size: 30px;
    padding-right: 35px;
    padding-left: 35px;
    border: 1px solid white;

}

tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child th:last-child {
    border-bottom-right-radius: 10px;
}



@media screen and (min-width: 500px)
{
    .form-group input {
        /* font-family: 'Baloo Bhai', cursive; */
        text-align: center;
        display: block;
        width: 240px;
        padding: 1px;
        border: 2px solid black;
        margin: 12px auto;
        font-size: 23px;
        border-radius: 9px;
    }

    .container {
        border: 2px solid white;
        margin: 84px 27px;
        padding: 15px;
        width: 270px;
        border-radius: 52px;
        align-content: center;
        align-items: center;
    }
}







